!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Monetizing Video Content"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    #header.fixed
      = render "header"
    
    #main-content
      = render "sample"
      -# = yield
    
    %footer#footer
      = render "footer"

    #dialog-region.reveal-modal.small{"data-reveal" => true}
