!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Monetizing Video Content"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .content-wrapper
      %header.top-header
        %header.header-1.js-header

      .row
        #main-content.medium-12.columns
          %section#content.content-container.js-content-container
            = yield
        #sidebar-region.large-3.columns

      %footer#footer.footer.js-footer

      #dialog-region.reveal-modal.small{"data-reveal" => true}
      #info-region.hidden

      .popup
